body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul#chat li span {
    margin-right: 10px;
}

/* Navbar icons */
#nav-chat .ui-icon,
#nav-chat .ui-icon {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-origin: padding-box;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 24px 22px;
}

#nav-chat .ui-icon {
    background-image: url("/images/icons-glyphish/09-chat-2.png");
}
#nav-users .ui-icon {
    background-image: url("/images/icons-glyphish/112-group.png");
}

.navigation .ui-btn .ui-icon {
    box-shadow: none !important;
    height: 30px !important;
    margin-left: -15px !important;
    width: 30px !important;
}


