div(data-role='header')
    a(href='#page-options', data-icon='gear', data-rel="dialog", data-transition="pop")#button-options='Options'
    h1=title
    a(href='#logout', data-icon='delete')#button-logout='Logout'
div(data-role='footer', class="navigation")
    div(data-role='navbar', role='navigation', data-grid='d', class="navigation")
        ul
            li
                a(href='#hub', class='ui-btn-active', data-icon='custom', data-theme='a')#nav-chat='Chat'
            li
                a(href='#users', data-icon='custom', data-theme='a')#nav-users='Users'
