 .controller {
    -webkit-user-select: none;
    user-select: none;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.game {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}
canvas {
    margin: 0 auto;
}

.container-fluid {
    /*padding: 25px;*/
}

.panel-server {
    min-height: 70vh;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.hide {
    display: none;
}

/* Select client/server ----------------------------------------------------- */
@media all and (max-width: 992px) { /* Same as Bootstrap @screen-md-min */
    .join-as-server {
        display: none;
    }
}

/* Game --------------------------------------------------------------------- */
body.game {
    overflow: hidden;
}