div(data-role='page', id='game-client-pocketman', class='game')
  h1='Client'
  
  form.controls
    input(type="button", value="Up").controls-up
    input(type="button", value="Down").controls-down
    input(type="button", value="Left").controls-left
    input(type="button", value="Right").controls-right
