!!!
html
  head
    title='title'
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/jquery.mobile-1.0b2.css')
    script(src='/javascripts/lib/jquery-1.6.1.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/jquery.mobile-1.0b2.js')
    script(src='/javascripts/session.js')
    script(src='/javascripts/login.js')
    script(src='/javascripts/client.js')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
  body!= body
